{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "rules": {
    "strict": 0,
    "no-inner-declarations": "off"
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}
